@import url(./header.css);
@import url(./section.css);
@import url(./footer.css);

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@300;400;500&family=Roboto:wght@400;500;700&display=swap');

:root {
    --background: #FFFFFF;
    --background-bnt: #CC66CC66;
    --cor-hover-link: #871F99;
    --cor-principal: #5D2966;

    --font-titulo: 'Oswald';
    --font-sub-titulo: 'Roboto';
    --font-text: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--cor-principal);
}

.borda-horizontal {
    border-top: 1px solid var(--cor-principal);
    height: 1px;
    margin: 40px 30px 40px 30px;
}
.borda-horizontal-top {
    border-top: 1px solid var(--cor-principal);
    height: 1px;
    margin: 30px 30px 0 30px;
}
.borda-horizontal-bottom {
    border-bottom: 1px solid var(--cor-principal);
    height: 1px;
    margin: 0 30px 30px 30px;
}
.borda-vertical {
    width: 1px;
    border-left: 1px solid var(--cor-principal);
    margin: 0 30px;
    height: 100%;
}
.margin-invisivel {
    margin: 20px 30px 20px 30px;
    height: 1px;
}